body {
	margin: 0;
	padding: 0;
	min-width: 800px;
}

header {
	padding: 0 5rem;
}

header h1 {
	padding: 1rem 0;
}

h2 {
	margin-top: 3rem;
}

section, footer {
	padding: 1rem 5rem;
}

.twitter-timeline {
	margin-top: 1rem;
}

.ribbon {
	margin-top: 3rem;
	margin-bottom: 3rem;
}
